-#  This file is app/views/movies/director.html.haml
%h1 Movies directed by #{@movie.director}

%table#movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Director
      %th Release Date

  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date